<span class="blue-code italic">var</span> maxChadwick <span class="red-code">=</span> {
 <span class="yellow-code">"firstName"</span>: <span class="yellow-code">"Max"</span>,
 <span class="yellow-code">"lastName"</span>: <span class="yellow-code">"Chadwick"</span>,
 <span class="yellow-code">"location"</span>: <span class="yellow-code">"New York"</span>,
 <span class="yellow-code">"featuredSkills"</span>: [
  <span class="yellow-code">"Concept/Wireframes"</span>,
  <span class="yellow-code">"Visual Design"</span>,
  <span class="yellow-code">"PHP Frameworks/CMSs"</span>,
  <span class="yellow-code">"jQuery/JavaScript"</span>,
  <span class="yellow-code">"SEO"</span>, 
  <span class="yellow-code">"Email Marketing"</span>,
  <span class="yellow-code">"Digital Advertising"</span>
 ],
 <span class="yellow-code">"featuredInterest"</span>: 
  <span class="yellow-code">"Time with family"</span>
};